<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/jass.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>GameRec</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-custom-2">
    <div class="container-fluid">
      <button class="navbar-toggler bg-white center" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn-primary btn-custom border border-dark rounded text-center" aria-current="page"
              href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-primary btn-custom border border-dark rounded text-center" href="/games">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-primary btn-custom border border-dark rounded text-center" href="/about-us">About</a>
          </li>
        </ul>
        <div class="d-flex">
          {{#if logged_in}}
          <div class="input-group rounded">
            <i class="bi bi-search"></i>
            <input id="searchBar" type="search" class="form-control rounded" placeholder="Search by game title"
              aria-label="Search" aria-describedby="search-addon" />
          </div>
          <a class="btn btn-primary btn-custom" href="/profile">Profile</a> |
          <a class="btn btn-primary btn-custom" id="logout" href="/">Logout</a>
          {{else}}
          <a class="btn btn-primary btn-custom center" href="/login" type="button">Login</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  {{!-- <header>
    <nav class="navbar bavbar-expand-lg bg-custom-2 text-light">
      <div class="btn-group">
        <a class="btn btn-primary btn-custom " href="/" type="button">Home</a>
        <a class="btn btn-primary btn-custom " href="/games" type="button">Games</a>
        <a class="btn btn-primary btn-custom" href="/about-us" type="button">About us</a>
      </div>

      <div class="d-flex">
        {{#if logged_in}}
        <div class="input-group rounded">
          <i class="bi bi-search"></i>
          <input id="searchBar" type="search" class="form-control rounded" placeholder="Search by game title"
            aria-label="Search" aria-describedby="search-addon" />
        </div>
        <a class="btn btn-primary btn-custom" href="/profile">Profile</a> |
        <a class="btn btn-primary btn-custom" id="logout" href="/">Logout</a>
        {{else}}
        <a class="btn btn-primary btn-custom" href="/login" type="button">Login</a>
        {{/if}}
      </div>
    </nav>

  </header> --}}
  <div class=" row d-flex flex-column">
    <main class=" d-flex flex-column">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <!-- Footer -->
    <div class="row">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Group 7, Inc</p>

        <a href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <i class="bi bi-controller"></i>
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="./js/search-bar.js"></script>

</body>

</html>