<div class="center banner-text h1">Meet the Team!</div>

<div class="row d-flex center">
    <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Chris Kimball</h5>
        <p class="card-text">Recommended games:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

    <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Vanessa Martinez</h5>
        <p class="card-text">Recommended games:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

    <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="../public/images/Kurtis.jpg" class="card-img-top img-fluid rounded-circle" alt="Kurtis Doute"></img>
    <div class="card-body">
        <h5 class="card-title">Kurtis Doute</h5>
        <p class="card-text">Recommended games:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="https://github.com/KDouts" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

        <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Emmanuel Lyimo</h5>
        <p class="card-text">Recommended games:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>
</div>