<div class="center banner-text h1">Meet the Team!</div>

<div class="row d-flex center">
    <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Chris Kimball</h5>
    </div>
    <ul class="list-group list-group-flush">
        <div class="btn-group">
            <button type="button" class="btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Recommended Games:</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
            </ul>
        </div>
    </ul>
    <div class="card-body">
        <a href="https://github.com/chriskimball" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

    <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="../public/images/banner-image.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Vanessa Martinez</h5>
    </div>
    <ul class="list-group list-group-flush">
        <div class="btn-group">
            <button type="button" class="btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Recommended Games:</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
            </ul>
        </div>
    </ul>
    <div class="card-body">
        <a href="https://github.com/marvanessa1" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

    <div class="card border-success me-md-3 col text-white bg-dark profile-kurtis" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Kurtis Doute</h5>
        <p class="card-text">Hi! My name is Kurtis</p>
    </div>
    <ul class="list-group list-group-flush">
        <div class="btn-group">
            <button type="button" class="btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Recommended Games:</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
            </ul>
        </div>
    </ul>
    <div class="card-body">
        <a href="https://github.com/KDouts" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>

        <div class="card border-success me-md-3 col text-white bg-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Emmanuel Lyimo</h5>
    </div>
    <div class="btn-group">
            <button type="button" class="btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Recommended Games:</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
                <li><a class="dropdown-item" href="#">Game Title Here</a></li>
            </ul>
        </div>
    <div class="card-body">
        <a href="https://github.com/KDouts" class="card-link link-success">GitHub</a>
        <a href="#" class="card-link link-success">Another link</a>
    </div>
    </div>
</div>