<div class='container'>

  <h1 class='text-center aboutus-header'>Meet the Team!</h1>

  <p class="text-center"></p>

  <div class='row d-flex flex-wrap center'>
    {{!-- Chris's card --}}
    <div class='card text-center border-success me-md-3 col-lg text-white bg-dark profile-chris' style='width: 18rem;'>
      {{!-- <img src='https://ca.slack-edge.com/T02J421BFLY-U02J1LHAX1D-54553d52b50c-512' class='card-img-top'
        alt='...' /> --}}
      <div class='card-body'>
        <h5 class='card-title'>Chris Kimball</h5>
      </div>
      <ul class='list-group list-group-flush'>
        <div class='btn-group'>
          <button type='button' class='btn-secondary dropdown-toggle' data-bs-toggle='dropdown'
            aria-expanded='false'>Recommended Games:</button>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item' href='/game/4'>Skyrim</a></li>
            <li><a class='dropdown-item' href='/game/1'>Grand Theft Auto V</a></li>
            <li><a class='dropdown-item' href='/game/8'>Borderlands 2</a></li>
          </ul>
        </div>
      </ul>
      <div class='card-body'>
        <a href='https://github.com/chriskimball' class='card-link link-success'>GitHub</a>
        <a href='https://www.linkedin.com/in/chriskimball1' class='card-link link-success'>LinkedIn</a>
      </div>
    </div>

    {{!-- Vanessa's card --}}

    <div class='card text-center border-success me-md-3 col-lg text-white bg-dark profile-vanessa'
      style='width: 18rem;'>

      <div class='card-body'>
        <h5 class='card-title'>Vanessa Martinez</h5>
      </div>
      <ul class='list-group list-group-flush'>
        <div class='btn-group'>
          <button type='button' class='btn-secondary dropdown-toggle' data-bs-toggle='dropdown'
            aria-expanded='false'>Recommended Games:</button>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item' href='#'>The Legend of Zelda: Breath of the Wild</a></li>
            <li><a class='dropdown-item' href='#'>Assassin's Creed: Odyssey</a></li>
            <li><a class='dropdown-item' href='#'>Minecraft</a></li>
          </ul>
        </div>
      </ul>
      <div class='card-body'>
        <a href='https://github.com/marvanessa1' class='card-link link-success'>GitHub</a>
        <a href='https://www.linkedin.com/in/vanessa-martinez-09/' class='card-link link-success'>LinkedIn</a>
      </div>
    </div>

    {{!-- Kurtis's card --}}

    <div class='card text-center border-success me-md-3 col-lg text-white bg-dark profile-kurtis' style='width: 18rem;'>
      <div class='card-body'>
        <h5 class='card-title'>Kurtis Doute</h5>
      </div>
      <ul class='list-group list-group-flush'>
        <div class='btn-group'>
          <button type='button' class='btn-secondary dropdown-toggle' data-bs-toggle='dropdown'
            aria-expanded='false'>Recommended Games:</button>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item' href='/games/2'>The Witcher 3</a></li>
            <li><a class='dropdown-item' href='#'>Kingdom Hearts</a></li>
            <li><a class='dropdown-item' href='#'>Jurassic World Evolution 2</a></li>
          </ul>
        </div>
      </ul>
      <div class='card-body'>
        <a
          href='https://github.com/KDouts'
          class='card-link link-success'
        >GitHub</a>
        <a href='https://www.linkedin.com/in/kurtis-doute-a89745221/' class='card-link link-success'>linkedIn</a>
      </div>
    </div>
    {{!-- Emmanuel's card --}}

    <div class='card text-center border-success me-md-3 col-lg text-white bg-dark profile-emmanuel' style='width: 18rem;'>
      <img src='...' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h5 class='card-title'>Emmanuel Lyimo</h5>
      </div>
      <div class='btn-group'>
        <button type='button' class='btn-secondary dropdown-toggle' data-bs-toggle='dropdown'
          aria-expanded='false'>Recommended Games:</button>
        <ul class='dropdown-menu'>
          <li><a class='dropdown-item' href='#'>Game Title Here</a></li>
          <li><a class='dropdown-item' href='#'>Game Title Here</a></li>
          <li><a class='dropdown-item' href='#'>Game Title Here</a></li>
        </ul>
      </div>
      <div class='card-body'>
        <a href='https://github.com/Nderingo' class='card-link link-success'>GitHub</a>
        <a href='#' class='card-link link-success'>Another link</a>
      </div>
    </div>
  </div>
</div>