<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="d-flex flex column">
  <div class="bannerimage"></div>
  <div id="homeCarousel"></div>
  
</div>
{{/each}}
