header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
  
img {
    max-width: 250px; 
    height: 250px; 
    object-fit: scale-down;
}

.btn-primary {
    background-color: #20c997 !important;
    border-color: black;
    padding: 0;
    cursor: pointer;
    color: black !important;
    text-decoration: none;
    font-size: 150%;
}

.btn-primary:hover {
    background-color: white !important;
    color: black;
    text-decoration: none;
}

.btn-secondary {
    border-color: black;
    color: white;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #20c997 !important;
    color: white;
    text-decoration: none;
    font-size: 150%;

}

.btn-secondary:active {
    color: rgb(198, 29, 240);
    background-color: transparent;
    text-decoration: underline;
}

.dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
}

body {
    background-color: black;
    color: white;
}



.signUpFont:link {    
    color: #20c997;
    background-color: transparent;
    text-decoration: none;
      
}

.signUpFont:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.signUpFont:active {
    color: rgb(198, 29, 240);
    background-color: transparent;
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.bg-custom-2 {
    background-image: linear-gradient(to right,#000000 0%, #3b4949 100%);
}

.bi-search {
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 50px;
    padding-top: 3px;
}

.form-control {
    background-color: transparent;
}

/* Homepage */
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/banner-image.jpeg");
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.banner-text h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
}

.rec {
    color: #20c997 ;
}

/* Games Handlebar */
.bi-file-plus {
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 50px;
    padding-top: 3px;
}

/* Add Game Review Modal Form */
.modal {
    color: black;
}

.rating {
    padding: 16px;
    align-items: center;
}

.textarea {
    background-color: white;
    color: black;
    padding: 16px;
    }


@media screen and (max-width: 768px) {
  .banner {
      height: 180px;
      background-size: cover;
      position: relative;
  }
  .navbar {
      flex-direction: column;
  }
}