/* Main Handlebar */
header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

body {
    background-color: black;
    color: white;
    height:100%
}


/* Main Navbar */

/* .navbar {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
} */

ul.ui-autocomplete {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: white;
    list-style: none;
}

.bg-custom-2 {
    background-image: linear-gradient(to right,#000000 0%, #3b4949 100%);
}

.bi-search {
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 50px;
    padding-top: 3px;
}
  
.btn-primary {
    background-color: #20c997 !important;
    border-color: black;
    padding: 0;
    cursor: pointer;
    color: black !important;
    text-decoration: none;
    font-size: 150%;
}

.btn-primary:hover {
    background-color: white !important;
    color: black;
    text-decoration: none;
}

.btn-secondary {
    border-color: black;
    color: white;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #20c997 !important;
    color: white;
    text-decoration: none;
    font-size: 100%;

}

.btn-secondary:active {
    color: rgb(198, 29, 240);
    background-color: transparent;
    text-decoration: underline;
}

.btn-custom {
    font-size: 20px;
    padding: 12px 22.4px;
}

/* Signup Page */
.signUpFont:link {    
    color: #20c997;
    background-color: transparent;
    text-decoration: none;
      
}

.signUpFont:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.signUpFont:active {
    color: rgb(198, 29, 240);
    background-color: transparent;
    text-decoration: underline;
}

.form-control {
    background-color: transparent;
}

/* Homepage */
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/banner-image.jpeg");
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.banner-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 7vw;
}


.rec {
    color: #20c997 ;
}


.bi-controller {
    color: #20c997 ;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bg-custom {
    background-color: rgba(128, 128, 128, 0.274);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* Games Handlebar */
.bi-file-plus {
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 50px;
    padding-top: 3px;
}

.games-title {
    text-align: center;    
    color: #20c997 ;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}



/* Add Game Review Modal Form */
.modal {
    color: black;
}

.rating-radio {
    padding: 16px;
    align-items: center;
}

.textarea {
    background-color: white;
    color: black;
    padding: 16px;
    }

/* Single-Game View */

.game-title { 
    text-align: center;    
    color: #20c997 ;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
  }

.single-game-body h3 {
    text-align: center;    
    color: #20c997 ;
    font-family: 'Orbitron', sans-serif;
    font-size: 2vw;
}


@media screen and (max-width: 768px) {
  .banner {
      height: 180px;
      background-size: cover;
      position: relative;
  }

  .btn-group {
      flex-direction: column;
      justify-content: center;
  }
  .navbar {
      flex-direction: column;

  }

  .games-body {
    flex-direction: column;
    justify-content: center;
  }

  .add-review-button {

  }
  .single-game-body {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .single-game-sub-body {     
      flex-direction: column;
      justify-content: center;
  }
}

/* about us page */
.profile-kurtis {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/Kurtis.jpg");
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.profile-chris {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://ca.slack-edge.com/T02J421BFLY-U02J1LHAX1D-54553d52b50c-512");
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.profile-emmanuel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://ca.slack-edge.com/T02J421BFLY-U02JEJM7J12-b534a607f8b3-72");
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.profile-vanessa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://ca.slack-edge.com/T02J421BFLY-U02J5LELU9L-aaa8816700ba-512");
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.aboutus-header {
    color: #20c997;
    font-family: 'Orbitron', sans-serif;
    font-size: 5vw;
}